@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .bg-picture {
    background-image: url('./public/minerva_01.png');
    background-size: cover;
    background-position: center;
    
  }
}